:root {
  --text-color : #000;
  --border-color : #000;
  --navBg-color : #D1E9DB;
  --background-color2 : #D1E9DB;
  --accent-color : salmon;
}
/* layout */
*{box-sizing: border-box;}
body {height: 3000px; background-color: #fff; color: var(--text-color); overflow-x: hidden;}
#header {}
.section {width: 91.9vw; margin-left: 8.1vw;}
.sec01 {}
.sec02 {}
.sec03 {}
.sec04 {}
.sec05 {}
.sec06 {}

/* scroll */
.scroll {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10000; 
  background-color: salmon; color: #fff;
  padding: 10px;
}
.innerWidth {
  position: fixed;
  right: 20px;
  bottom: 70px;
  z-index: 10000; 
  background-color: darksalmon; color: #fff;
  padding: 10px;
}

/* lolling */
.lolling {
  font-size: 30px; 
  padding: 30px 0;
  overflow-x:hidden;
}
.lolling.move {
  font-size: 1.3vw;line-height: 1.5em;white-space: nowrap;
  animation: scroll 20s linear infinite;
  animation-play-state: running;
}
@keyframes scroll {
  100% {text-indent: -60em;}
}


/*** gnbWrap ***/
#header .gnbWrap {
  font-family: 'NexonLv1GothicLow' !important;
  width: 45vw; height: 100vh;
  padding: 2%;
  background-color: var(--navBg-color );
  position: fixed; top: 0;  left: 0; z-index: 9999;
  transition: left 0.4s ease; 
}
#header .gnbWrap .gnb {
  width: 100%; height: 100%; 
  border: 3px solid var(--border-color);
}
#header .gnbWrap .gnb .gnbTop {
  display: flex; justify-content: space-between;
  padding: 20px 0; 
  border-bottom: 3px solid var(--border-color);
  position: relative;
}
#header .gnbWrap .gnb .gnbTop .left {
  font-size: 35px;line-height: 37px; font-weight: bold;
  display: flex; align-items: center;
}
#header .gnbWrap .gnb .gnbTop .left .img{
  height: 78px; 
  padding: 0 10px; 
  text-align: center;
}
#header .gnbWrap .gnb .gnbTop .left .img img {
  display: inline-block;
  width: 76px; 
}
#header .gnbWrap .gnb .gnbTop .rightBtnMo {
  width: 15%; font-size: 1.0417vw;
  display: flex; align-items: center; justify-content: center;
}
#header .gnbWrap .gnb .gnbTop .rightBtnMo p {}

#header .gnbWrap .gnb .gnbCont {
  display: flex; justify-content: space-between;
  /* height: 70%; */
  border-bottom: 3px solid var(--border-color);
}
#header .gnbWrap .gnb .gnbCont .left {
  width: 85%; 
}
#header .gnbWrap .gnb .gnbCont .left .nav ul li{
  font-size: 22px;
  padding: 20px;
  border-bottom: 3px solid var(--border-color);
  
}
#header .gnbWrap .gnb .gnbCont .left .nav ul li a {
  display: inline-block;
  display: flex; justify-content: space-between;
}
#header .gnbWrap .gnb .gnbCont .left .nav ul li a em{
  width: 90%; display: block;
}
#header .gnbWrap .gnb .gnbCont .left .nav ul li a .iconArrow{
  width: 10%; 
  display: flex; justify-content: center; align-items: center;
}
#header .gnbWrap .gnb .gnbCont .left .nav ul li a .iconArrow svg {
  width: 1.1805555555555556vw;
  height: 1.1805555555555556vw;
}
#header .gnbWrap .gnb .gnbCont .left .box {
  flex: 1; flex-grow: 1;
  position: relative;
  flex-basis: 0;
  
}
#header .gnbWrap .gnb .gnbCont .left .box svg{
  display: block;
}
#header .gnbWrap .gnb .gnbCont .left .box .line{
  width: 100%; height: 100%;
  clip-path: polygon(100% 0%,0 100%,100% 100%);
}
#header .gnbWrap .gnb .gnbCont .left .box svg {
  width: 100%; height: 100%;
}
#header .gnbWrap .gnb .gnbCont .rightBtn {
  width: 15%; 
  border-left: 3px solid var(--border-color);
  display: flex; align-items: center; justify-content: center;
  
}
#header .gnbWrap .gnb .gnbCont .rightBtn.active {
  cursor: pointer;
}
#header .gnbWrap .gnb .gnbCont .rightBtn .ham {
  width: 30%; 
  line-height: 0; height: 0;
  display: none;
}
#header .gnbWrap .gnb .gnbCont .rightBtn .ham span {
  display: block;
  margin: 5px auto;
  background-color: var(--border-color);
  width: 100%;
  height: 2px;
  transition: all .5s ease;
}
#header .gnbWrap .gnb .gnbBottom {
  display: flex; 
  font-size: 30px; padding: 20px;
}
#header .gnbWrap .gnb .gnbBottom .icon {
  width: 15%; display: flex;justify-content: center; align-items: center;
}
#header .gnbWrap .gnb .gnbBottom .icon svg {
  width: 50px;
}

  /* (pc) 스크롤 이벤트에서 > .gnbWrap.gnbHide */
  #header .gnbWrap.gnbHide  {
    left: -36.9vw;
  }
  #header .gnbWrap.gnbHide .gnb .gnbTop .left .img {
    position: absolute; right: 0;
    transition: right 1s ease; 
  }
  #header .gnbWrap.gnbHide .gnb .gnbCont .rightBtn .ham {
    display: block;
  }

  /* (pc) 햄버거 클릭시 이벤트 > .gnbWrap.showClose */
  #header .gnbWrap.showClose .gnb .gnbCont .rightBtn .ham span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  #header .gnbWrap.showClose .gnb .gnbCont .rightBtn .ham span:nth-child(2) {
    transform: scaleX(0);
  }
  #header .gnbWrap.showClose .gnb .gnbCont .rightBtn .ham span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  #header .gnbWrap.showClose  {
    left: 0 !important;
  }
  #header .gnbWrap.showClose .gnb .gnbTop .left .img {
    position: static;
    transition: right 1s ease; 
  }

  /* (pc) nav 버튼 클릭시 */
  

/*** contents > section01 : main visual ***/
.sec01 {}
.sec01 .main {
  width: 54vw; height: 100vh;
  margin-left: 45vw; padding-top: 100px;
  display: flex; justify-content: center; align-items: center;
  /* background-color: antiquewhite; */
}

.sec01 .main .mainTit {
  font-size: 5.5vw; font-weight: 400;
  font-family: 'Tmon' !important;
  line-height: 6.5vw;
  text-align: center; 
}
.sec01 .main .imgBox {

}
.swiper {
  width: 35vw;
  height: 40vw;
  position: relative; top: -7.5vw; 
  
}
.swiper-wrapper {}
.swiper-slide {
  
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide .img {
  width: 22vw; 
  transform:rotate(-10deg);
}
.swiper-button-next, .swiper-button-prev {
  width: 45px !important; height: 40px !important;
}
.swiper-button-next .Icon.is-arrow, .swiper-button-prev .Icon.is-arrow {
  width: 40px; height: 40px; 
  border: 2px solid var(--border-color); border-radius: 50%; opacity: 0.6;
  position: relative;
}
.swiper-button-next .Icon.is-arrow svg{
  width: 15px; height: 15px; 
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%)!important; opacity: 1
}
.swiper-button-prev .Icon.is-arrow svg{
  width: 15px; height: 15px; 
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%) rotate(180deg)!important; opacity: 1
}
.swiper-button-prev::after, .swiper-rtl .swiper-button-next::after{
  content: "";
  opacity: 0.9;
  font-size: 0 !important; 
}
.swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
  content: "";
  opacity: 0.9;
  font-size: 0 !important; 
}
.swiper-pagination{
  bottom: -10px !important;
}
.swiper-pagination-bullet-active {
  background: #787878 !important;
}

/*** contents > sec02 : about me ***/
.sec02 {
  height: 100vh;
  display: flex; align-items: center; justify-content: center;
}
.sec02 .sec2Wrap {
  width: 55vw; 
  background-color: #FFFAF0;
  position: relative;
  
}
.sec02 .sec2Wrap h2.secTit {
  font-size: 100px; line-height: 100px;
  position: absolute; top: -44px; left: -177px;
}
.sec02 .sec2Wrap .secBox {
  padding-top: 70px;
}
.sec02 .sec2Wrap .secBox .secImg {
  width: 40%; margin: 0 auto ;
  border: 10px solid #FFF2DE;
}
.sec02 .sec2Wrap .secBox .secImg img {}
.sec02 .sec2Wrap .secBox .secTxt {
  padding: 30px 20px;
  text-align: center;
  font-size: 23px; font-weight: 300;
}

/*** contents > sec03 : project ***/
.sec03 {}
.sec03 .sec3Wrap {}
.sec03 .sec3Wrap .secTit {
  font-size: 230px; 
  padding: 50px 30px;
  position: relative;
  border-bottom: 3px solid #000;
}
.sec03 .sec3Wrap .secTit .titIcon {
  position: absolute; top: 18px; left: 200px;
  transform: rotate(20deg);
  width: 180px;
  animation: iconwow 2s linear infinite;
}
@keyframes iconwow {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -10px;
  }
}
.sec03 .sec3Wrap .secBox {
  display: flex; 
  justify-content: space-between; align-items: center;
  width:93%; height: 100vh;
  margin-left: auto; margin-right: auto;
}
.sec03 .sec3Wrap .secBox .boxWrap {
  width: 48%; 
}
.sec03 .sec3Wrap .secBox .boxWrap2 {
  width: 80%; margin-left: auto; margin-right: auto;
  
}
.sec03 .sec3Wrap .secBox .boxWrap .boxImg {
  width:100%; height: 40vw; 
  background-image: url(../img/pro_item01.png);
  background-position: top center;
  border: 10px solid #FFF2DE;
}
.sec03 .sec3Wrap .secBox .boxWrap2 .boxImg {
  border: 10px solid #FFF2DE;
}
.sec03 .sec3Wrap .secBox .boxWrap .boxTxt,
.sec03 .sec3Wrap .secBox .boxWrap2 .boxTxt {
  text-transform: uppercase;
  font-size: 30px;
  padding: 10px 0;
}
.sec03 .sec3Wrap .secBox .boxWrap2 .boxTxt {
  text-align: center;
}

/*** sec4 - script : script ***/
.sec04 {
  background-color: #FFF1D8;
  padding: 2vw;
  display: flex;
}
.sec04 .sec4Wrap {
  border: 3px solid var(--border-color);
  width: 100%;
  display: flex; justify-content: space-between;

}
.sec04 .sec4Wrap .left{
  width: 90%;
  padding-bottom: 100px;
}
.sec04 .sec4Wrap .left .secTit {
  font-size: 240px; line-height: 250px;
  padding: 100px 90px;
  border-bottom: 4px solid var(--border-color);
  position: relative;
}
.sec04 .sec4Wrap .left .secTit .titIcon {
  position: absolute;
  width: 350px; bottom: -190px; left: 30px;
  animation: iconarrow 2s linear infinite;
}
@keyframes iconarrow {
  0% {
    bottom: -190px;
    transform: rotate(0deg);
  }
  50% {
    bottom: -200px;
    transform: rotate(10deg);
  }
}
.sec04 .sec4Wrap .left .secBox {
  padding: 2vw; padding-top: 80px; 
  display: flex; flex-direction: column;
}
.sec04 .sec4Wrap .left .secBox .box {
  width: 80%;
  margin-top: 200px;
}
.sec04 .sec4Wrap .left .secBox .box:nth-child(2n) {
  align-self: flex-end;
}
.sec04 .sec4Wrap .left .secBox .box .boxImg {}
.sec04 .sec4Wrap .left .secBox .box .boxTxt {
  text-transform: uppercase;
  font-size: 30px; font-weight: 700;
  padding: 10px 10px 10px 0;
}
.sec04 .right {
  width: 10%; 
  padding-bottom: 40px; padding-left: 15px;
  display: flex; align-items: flex-end;
  border-left: 3px solid var(--border-color);
}

.sec04 .right p {
  font-size: 70px; transform: rotate(0deg);
  writing-mode:vertical-rl; 
}

/* sec4 */
#section04 {
  width: 90vw; margin-left: 10vw; 
  background-color: #FFF1D8;
  padding: 50px 50px;
  
}
#section04 .sec4Wrap {
  border: 4px solid #000;
  display: flex;

}
#section04 .sec4Wrap .left {
  width: 90%;
  border-right: 4px solid #000;
}
#section04 .sec4Wrap .left .secTit {
  font-size: 240px; line-height: 250px;
  padding: 100px 90px;
  border-bottom: 4px solid #000;
  position: relative;

}
#section04 .sec4Wrap .left .secTit .deco {
  position: absolute;
  width: 350px; bottom: -200px; left: 30px;
}

#section04 .sec4Wrap .left .boxWrap {
  padding-top: 150px; width: 90%; margin: 0 auto;

}
#section04 .sec4Wrap .left .boxWrap.num2 {
  padding-top: 0;
  padding-bottom: 100px;
}
#section04 .sec4Wrap .left .boxWrap .box {
  width: 100%; 
  margin-top: 100px;
}
#section04 .sec4Wrap .left .boxWrap .box:nth-child(1) {
  width: 815px; padding-top: 50px;
}
#section04 .sec4Wrap .left .boxWrap .box:nth-child(2)  {
  width: 610px; 
}
#section04 .sec4Wrap .left .boxWrap .box .boxImg img {
  width: 100%;
}
#section04 .sec4Wrap .left .boxWrap .box .boxTit {
  font-size: 30px;
  padding: 10px;
}

#section04 .sec4Wrap .left .boxWrap.num2 .box:nth-child(1)  {
  width: 100%; padding-top: 0px;
  display: flex; justify-content: flex-end;
  /* width: 812px; */
}
#section04 .sec4Wrap .left .boxWrap.num2 .box:nth-child(2)  {
  width: 810px; margin-left: 180px;
}
#section04 .sec4Wrap .left .boxWrap.num2 .box:nth-child(1) div .boxImg {
  width: 812px;
}
#section04 .sec4Wrap .left .boxWrap.num2 .box:nth-child(1) div .boxTit { 
  text-align: right;
}


#section04 .sec4Wrap .right {
  width: 10%; 
  padding-bottom: 40px; padding-left: 15px;
  display: flex; align-items: flex-end;
}
#section04 .sec4Wrap .right p {
  font-size: 70px; transform: rotate(0deg);
  writing-mode:vertical-rl; 
}
#section04 .sec4Wrap .left {
  /* display: flex; justify-content: space-around;  */
}

/* sec5 */
#section05 {
  width: 90vw; margin-left: 10vw; 
  /* background-color: #ffe4d8; */
  padding-top: 100px;
  padding-bottom: 100px;
  
}
#section05 .sec5Wrap {
  
}
#section05 .sec5Wrap .secTit {
  margin-top: 200px; padding-bottom: 100px;
  font-size: 230px; line-height: 230px;
  text-align: center;
  border-bottom: 4px solid #000;
  position: relative;
}
#section05 .sec5Wrap .secTit .titDeco {
  position: absolute; top: -200px; right: 155px;
  
}
#section05 .sec5Wrap .boxWrap {
  width: 100%; 
  /* background-color: antiquewhite; */
  position: relative;
}
#section05 .sec5Wrap .boxWrap .boxAniImg {
  position: fixed; top: 50%; right: 8%;
  transform: translateY(-50%);
  width: 520px; height: 670px;
}
#section05 .sec5Wrap .boxWrap .boxAniImg .imgList {
  position: absolute; top: 0; left: 0;
}
#section05 .sec5Wrap .boxWrap .boxAniImg .imgList.list1 {
  background-color: rgb(255, 163, 151);
}
#section05 .sec5Wrap .boxWrap .boxList .box {
  width: 100%; height: 33.333vh;
  padding: 0 50px; 
  font-size: 100px; 
  color: rgba(0,0,0,0.3);
  border-bottom: 4px solid rgba(0,0,0,0.3);
  display: flex; align-items: center; justify-content: center;
  cursor: pointer;
}
#section05 .sec5Wrap .boxWrap .boxList .box:hover {
  color: rgba(0,0,0,1);
  transition : color 0.6s ease;
  justify-content: flex-start;
}


/* sec6 */
#section06 {
  width: 90vw; height: 100vh;
  margin-left: 10vw; 
  background-color: #FFF9EE;
  background-image: url(../img/bg_contact.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  
  
}
#section06 .sec6Wrap {
  
}
#section06 .sec6Wrap .secTit {
  font-size: 150px;
  padding: 130px 30px 10px;
  border-bottom: 4px solid #000;
  /* background-color: coral; */
}
#section06 .sec6Wrap .boxWrap {
  border-bottom: 4px solid #000;
  padding: 30px 60px 60px;
  display: flex; justify-content: space-between; align-items: center;
}
#section06 .sec6Wrap .boxWrap .left {
  width: 70%;
}
#section06 .sec6Wrap .boxWrap .left .boxTxt {
  font-size: 60px; 
}
#section06 .sec6Wrap .boxWrap .left .boxBtn {
  margin-top: 30px;
}
#section06 .sec6Wrap .boxWrap .left .boxBtn a {
  display: inline-block;
  font-size: 20px;
  padding: 23px 50px; 
  background-color: #FFD894; border-radius: 60px;
  border: 4px solid #000;
}
#section06 .sec6Wrap .boxWrap .right {
  
}
#section06 .sec6Wrap .boxWrap .right .imgIcon {
  width: 350px;
  margin-right: 130px; padding-top: 30px;
}
#section06 .sec6Wrap .boxWrap .right .imgIcon {}