/* layout */
body {height: 30000px;}
#contents {}
#section1 {}
#section2 {}
#section3 {}
#section4 {}
#section5 {}
#section6 {}

/* fixed */
.fixed {
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

/* scroll */
.scroll {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10000; 
    
}

/* sec1 */
#contents #section01 .sec1Box1 {position: fixed; width: 100vw; height: 55vh; left: 0; top: 0; background: #DC985A;animation: bgColor 6s linear infinite; }
#contents #section01 .sec1Box2 {position: fixed; left: 50%; top: 73%; transform: translate(-50%); font-size: 8vw; text-transform: uppercase; font-weight: bold; white-space: nowrap;}
#contents #section01 .sec1Box2 span {display: inline-block;}
#contents #section01 .sec1Box2 span.sup {font-size: 3.5vw; position: relative; top: -3.5vw;}

@keyframes bgColor {
    0%  {background: #E7A04D;}
    20% {background: #EAA373;}
    40% {background: #E58A82;}
    60% {background: #D8D1FF;}
    80% {background: #CADFF5;}
    100% {background: #D1E9DB;}
}
