/* layout */
body {height: 30000px;}
#contents {}
#section1 {}
#section2 {}
#section3 {}
#section4 {}
#section5 {}
#section6 {}

/* fixed */
.fixed {
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

/* scroll */
.scroll {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10000; 
    font-family: 'GmarketSans';
}

/* sec1 */
.sec1Text1 {
    position: fixed;
    width: 100vw;
    height: 50vh;
    left: 0; 
    top: 0;
    background: #DC985A;
    animation: bgColor 6s linear infinite;
}
.sec1Text2 {
    white-space: nowrap;
}
.sec1Text2 span {
    display: inline-block;
}
@keyframes bgColor {
    0%  {background: #DC985A;}
    20% {background: #5adc7b;}
    40% {background: #5a92dc;}
    60% {background: #a85adc;}
    80% {background: #dcd35a;}
    100% {background: #dc5e5a;}
}
.sec1Text2 {
    position: fixed;
    left: 50%; 
    top: 60%;
    transform: translate(-50%);
    font-size: 8vw;
    text-transform: uppercase;
    font-family: 'GmarketSans';
    font-weight: bold;
}